@charset "UTF-8";
@keyframes vibe {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.fixall {
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
}
.fixall:hover, .fixall:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

body {
  position: relative;
  font-family: reg;
}
body::-webkit-scrollbar {
  background-color: #f7f7f7;
  width: 7px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: #a87d2c;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #a87d2c #f7f7f7;
}

.overflow {
  overflow: hidden !important;
}

@font-face {
  font-family: "reg";
  src: url("../fonts/ITC/ITCHandelGothicArabicW23-Rg.ttf");
}
@font-face {
  font-family: "light";
  src: url("../fonts/ITC/ITCHandelGothicArabicW23-Lt.ttf");
}
@font-face {
  font-family: "med";
  src: url("../fonts/ITC/ITCHandelGothicArabicW23-Md.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/ITC/ITCHandelGothicArabicW23-Bd.ttf");
}
@font-face {
  font-family: "hv";
  src: url("../fonts/ITC/ITCHandelGothicArabicW23-Hv.ttf");
}
.mo-navbar {
  display: flex;
  align-items: center;
  margin-left: 55px;
}
html[lang=en-US] .mo-navbar {
  margin-left: 0;
  margin-right: 55px;
}
@media (max-width: 1199px) {
  html[lang=en-US] .mo-navbar {
    margin: 0;
  }
}
@media (max-width: 1199px) {
  .mo-navbar {
    margin: 0;
    justify-content: space-around;
    flex: 1;
  }
}
.mo-navbar > li {
  margin-left: 22px;
}
@media (max-width: 1199px) {
  .mo-navbar > li {
    margin: 0;
  }
}
html[lang=en-US] .mo-navbar > li {
  margin-left: 0;
  margin-right: 22px;
}
@media (max-width: 1199px) {
  html[lang=en-US] .mo-navbar > li {
    margin-left: 0;
    margin-right: 0;
  }
}
.mo-navbar > li:last-of-type {
  margin-left: 0;
}
html[lang=en-US] .mo-navbar > li:last-of-type {
  margin-left: 0;
  margin-right: 0;
}
.mo-navbar > li > a {
  font-size: 16px;
  color: #333333;
  font-family: med;
  text-transform: capitalize;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-navbar > li > a:hover, .mo-navbar > li > a:focus {
  color: #a87d2c;
}
.mo-navbar > li > a.active {
  pointer-events: none;
  color: #a87d2c;
  position: relative;
}
.mo-navbar > li > a.active:after {
  display: block;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #a87d2c;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
}

.owl-carousel .owl-item {
  border: none !important;
  border-color: transparent !important;
}
.owl-carousel .owl-item img {
  width: auto;
}
.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.owl-carousel .owl-dots .owl-dot {
  background: #bfbfbf;
  outline: none;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #595959;
  pointer-events: none;
}
.owl-carousel .owl-dots .owl-dot:hover {
  background: #595959;
}
.owl-carousel .owl-nav {
  width: 0;
  height: 0;
}
@media (max-width: 992px) {
  .owl-carousel .owl-nav {
    display: none;
  }
}
.owl-carousel .owl-nav button[class^=owl-] {
  position: absolute;
  top: 115px;
  outline: none;
  border: none;
  color: #999999;
  font-size: 24px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-carousel .owl-nav button[class^=owl-].owl-next {
  left: -35px;
}
.owl-carousel .owl-nav button[class^=owl-].owl-prev {
  right: -35px;
}
.owl-carousel .owl-nav button[class^=owl-]:hover {
  color: #a87d2c;
}

.culture-img {
  position: relative;
  display: block;
  width: 100%;
  height: 254px;
}
.culture-img img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}
.culture-img:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(168, 125, 44, 0.8);
  display: block;
  content: "";
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.culture-img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 55px;
  height: 55px;
  content: "";
  font-family: "Linearicons-Free";
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.culture-img:hover::after {
  visibility: visible;
  opacity: 1;
}
.culture-img:hover::before {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.article .article-img {
  width: 100%;
  height: 254px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.article .article-img img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.article .article-img:hover img {
  transform: scale(1.05);
}
.article .article-img:hover::after {
  transform: translate(-50%, -50%) scale(0.95);
}
.article .article-video::after {
  content: url("../images/play.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.article .title-cont {
  margin-top: 18px;
  height: 50px;
  padding: 0 6px;
}
.article .article-name {
  font-size: 18px;
  color: #333333;
  font-family: med;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.article .article-name:hover {
  color: #a87d2c;
}

.blog .blog-img {
  width: 100%;
  height: 254px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.blog .blog-img img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog .blog-img:hover img {
  transform: scale(1.05);
}
.blog .title-cont {
  margin-top: 18px;
  height: 50px;
}
.blog .blog-name {
  font-size: 18px;
  color: #fff;
  font-family: med;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog .blog-name:hover {
  color: #a87d2c;
}

.blog-slider .owl-dots .owl-dot {
  background: #808080;
}
.blog-slider .owl-dots .owl-dot.active {
  background: #fff;
}
.blog-slider .owl-dots .owl-dot:hover {
  background: #fff;
}
.blog-slider .owl-nav button[class^=owl-] {
  color: #fff;
}
.blog-slider .owl-nav button[class^=owl-]:hover {
  color: #a87d2c;
}

.team-slider .owl-nav button[class^=owl-] {
  top: 70px;
}

.member {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.member .person-img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
.member .person-img img {
  width: 100%;
}
.member .person-name {
  font-size: 18px;
  color: #333333;
  font-family: med;
  margin-top: 25px;
  margin-bottom: 10px;
}
.member .person-position {
  font-size: 16px;
  color: #818181;
}

.clients-sec .owl-dots .owl-dot {
  background: #808080;
}
.clients-sec .owl-dots .owl-dot.active {
  background: #fff;
}
.clients-sec .owl-dots .owl-dot:hover {
  background: #fff;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 0;
}
.service .service-img {
  border-radius: 50%;
  background-color: #a87d2c;
  width: 165px;
  height: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service .service-img img {
  max-width: 79px;
  max-height: 77px;
}
.service .service-name {
  font-size: 18px;
  color: #333333;
  font-family: med;
  text-align: center;
  max-width: 180px;
  width: max-content;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[lang=en-US] .service .service-name {
  max-width: none;
  width: auto;
}
.service:hover .service-img {
  transform: translateY(-5px);
}
.service:hover .service-name {
  color: #a87d2c;
}

.services-slider .owl-dots {
  margin-top: 20px;
}
.services-slider .owl-nav button[class^=owl-] {
  top: 75px;
  transform: none;
}

.sec-head {
  font-family: bold;
  font-size: 30px;
  color: #333333;
  text-align: center;
  margin-bottom: 43px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .sec-head {
    margin-bottom: 25px;
  }
}
.sec-head:after {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #a87d2c;
  margin: 20px auto 0;
}

.more-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  position: relative;
}
@media (max-width: 1199px) {
  .more-cont {
    margin-top: 25px;
  }
}

.more-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fff;
  width: 134px;
  height: 40px;
  border-radius: 20px;
  background-color: #595959;
  font-family: med;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.more-page:hover, .more-page:focus {
  background-color: #a87d2c;
  color: #fff;
}

.clients-cont .sec-head {
  color: #fff;
  margin: 0;
  text-align: unset;
  margin-top: 30px;
}
@media (max-width: 1199px) {
  .clients-cont .sec-head {
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
  }
}
.clients-cont .sec-head::after {
  display: none;
}
@media (max-width: 1199px) {
  .clients-cont .sec-head::after {
    display: block;
    background-color: #fff;
  }
}
.clients-cont .more-cont {
  margin-top: 25px;
  justify-content: flex-start;
}
.clients-cont .more-cont.xs-more {
  display: none;
}
@media (max-width: 1199px) {
  .clients-cont .more-cont {
    justify-content: center;
    display: none;
  }
  .clients-cont .more-cont.xs-more {
    display: flex;
  }
}
.clients-cont .more-page {
  color: #3d332f;
  background-color: #fff;
}
.clients-cont .more-page:hover, .clients-cont .more-page:focus {
  background-color: #a87d2c;
  color: #fff;
}

.blog-cont .sec-head {
  color: #fff;
}
.blog-cont .sec-head::after {
  background-color: #fff;
}
.blog-cont .more-page {
  color: #3d332f;
  background-color: #fff;
}
.blog-cont .more-page:hover, .blog-cont .more-page:focus {
  background-color: #a87d2c;
  color: #fff;
}

.packes-cont {
  background-color: #f7f7f7;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 85px;
}
@media (max-width: 992px) {
  .packes-cont {
    padding: 40px 0;
    margin-top: 50px;
  }
}

.pack {
  border-top: 2px solid #a87d2c;
  background-color: #fff;
  padding: 29px 15px 22px;
  height: 549px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 15px;
}
html[lang=en-US] .pack {
  height: 650px;
}
@media (max-width: 992px) {
  .pack {
    margin: auto;
    width: 262px;
  }
}
.pack .pack-info {
  width: 100%;
}
@media (max-width: 1199px) {
  .pack .pack-info {
    width: 100%;
  }
}
.pack .pack-head {
  border-bottom: 1px solid #e3e3e3;
  text-align: center;
  margin-bottom: 16px;
}
.pack .pack-name {
  font-size: 19px;
  color: #333333;
  text-transform: uppercase;
}
html[lang=en-US] .pack .pack-name {
  height: 40px;
}
.pack .pack-desc {
  padding: 0 3px;
}
.pack .pack-price {
  margin-top: 10px;
  font-size: 36px;
  font-family: bold;
  color: #a87d2c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.pack .pack-price span {
  font-size: 24px;
}
.pack .desc-title {
  font-size: 18px;
  color: #333333;
  font-family: bold;
  text-align: center;
  margin-bottom: 20px;
}
.pack .desc-text {
  text-align: center;
  color: #808080;
  font-size: 16px;
  line-height: 1.625;
}
html[lang=en-US] .pack .desc-text {
  font-size: 15px;
}
.pack .desc-text.desc-hint {
  color: #f00;
  line-height: 1.25;
  margin-bottom: 14px;
}
.pack .pack-order {
  padding: 0 20px;
}
.pack .pack-req {
  font-size: 16px;
  color: #333333;
  font-family: bold;
  text-align: center;
  display: block;
  margin-bottom: 16px;
}
.pack .pack-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  color: #fff;
  font-family: med;
  height: 43px;
  background-color: #a87d2c;
  border-radius: 25px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pack .pack-btn:hover, .pack .pack-btn:focus {
  background-color: #595959;
  color: #fff;
}
.pack .desc-item {
  font-size: 16px;
  color: #808080;
  margin-bottom: 3px;
}
html[lang=en-US] .pack .desc-item {
  font-size: 15px;
}
.pack .desc-item:last-of-type {
  margin-bottom: 0;
}
.pack .desc-item::before {
  content: "-";
  margin: 0 4px;
}
.pack:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 992px) {
  .pack:hover {
    box-shadow: none;
  }
}

.clients-cont {
  background-color: #595959;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 85px;
}
.clients-cont .clients-pat {
  right: 0;
  bottom: 0;
  position: absolute;
}
@media (max-width: 992px) {
  .clients-cont {
    padding: 40px 0;
  }
}

.clients-sec {
  padding-right: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
html[lang=en-US] .clients-sec {
  padding-right: 0;
  padding-left: 60px;
}
@media (max-width: 992px) {
  .clients-sec {
    padding-right: 0;
    display: unset;
  }
  html[lang=en-US] .clients-sec {
    padding-right: 0;
    padding-left: 0;
  }
}

.client {
  width: calc(100% / 5 - 12px);
  height: 165px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 15px;
}
html[lang=en-US] .client {
  margin-left: 0;
  margin-right: 15px;
}
@media (max-width: 992px) {
  .client {
    margin: 0;
    width: 100%;
  }
  html[lang=en-US] .client {
    margin: 0;
  }
}
.client img {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.client:hover img, .client:focus img {
  transform: scale(0.95);
}
.client:nth-of-type(5n) {
  margin-left: 0;
}
html[lang=en-US] .client:nth-of-type(5n) {
  margin-right: 0;
}

/*//////////////////////////////preloader//////////////////////////////*/
.pre-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .pre-loader img {
    width: 100px;
  }
}
.pre-loader .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pre-loader .progress-bar {
  background-color: #a87d2c;
  border: none;
  overflow: hidden;
  width: 200px;
  height: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 20px 0 0 0;
}
@media (max-width: 767px) {
  .pre-loader .progress-bar {
    width: 100px;
  }
}
.pre-loader .progress-bar .Shape_1 {
  background-color: #a87d2c;
  position: absolute;
  left: 583px;
  top: 459px;
  width: 200px;
  height: 2px;
  z-index: 4;
}
.pre-loader .progress-bar span {
  display: block;
}
.pre-loader .bar {
  background-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pre-loader .progress {
  -webkit-animation: loader 8s ease infinite;
  animation: loader 8s ease infinite;
  background: #a87d2c;
  border: none;
  padding: 0px;
  width: 0;
  height: 2px;
}
.pre-loader .progress-bar {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}
/*//////////////////////////////preloader//////////////////////////////*/
header {
  height: 100px;
}
@media (max-width: 1199px) {
  header {
    height: 84px;
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
}
.fixed-header.scroll-header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.fixed-header.scroll-header .logo {
  width: 80px;
}

.logo {
  display: block;
  width: 110px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.logo img {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1199px) {
  .logo {
    width: 90px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 6px;
}

@media (max-width: 1199px) {
  .sec-nav {
    flex: 1;
  }
}

.top-nav {
  display: flex;
  align-items: center;
}

.lang {
  background-color: #595959;
  width: 89px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  font-family: med;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.lang:hover, .lang:focus {
  background-color: #a87d2c;
  color: #fff;
}

.breadcrumb-cont {
  position: relative;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  margin-top: 10px;
}
html[lang=en-US] .breadcrumb-cont {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 30px;
}
@media (max-width: 767px) {
  .breadcrumb-cont {
    margin-top: 0;
    height: 100px;
  }
  .breadcrumb-cont img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  html[lang=en-US] .breadcrumb-cont img {
    transform: scaleX(-1);
  }
}

.breadcrumb-sec {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
}
@media (max-width: 767px) {
  .breadcrumb-sec {
    padding: 0;
    align-items: center;
    text-align: center;
  }
}

.breadcrumb-head {
  color: #fff;
  font-family: bold;
  font-size: 24px;
  margin-bottom: 19px;
}

.mo-breadcrumb {
  display: flex;
  align-items: center;
}
.mo-breadcrumb > li > a {
  color: #fff;
  font-family: light;
  font-size: 16px;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-breadcrumb > li > a:hover {
  color: #a87d2c;
}
.mo-breadcrumb > li::after {
  content: "/";
  margin: 0 10px;
  color: #fff;
}
.mo-breadcrumb > li.active {
  pointer-events: none;
}
.mo-breadcrumb > li.active::after {
  display: none;
}

.about-cont {
  background-color: #595959;
  position: relative;
  overflow: hidden;
}
.about-cont .about-pat {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
@media (max-width: 992px) {
  .about-cont .about-pat {
    top: 0;
    transform: none;
  }
}

.about-sec {
  position: relative;
  padding: 90px 0;
}
@media (max-width: 992px) {
  .about-sec {
    padding: 30px 0;
  }
}

.about-sec-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  font-family: bold;
}

.about-sec-subhead {
  font-size: 18px;
}

.about-sec-name {
  margin-top: 16px;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .about-sec-name {
    width: 240px;
  }
}

.about-sec-head {
  font-size: 27px;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .about-sec-head {
    font-size: 21px;
  }
}

.about-sec-dec {
  line-height: 1.579;
  font-size: 19px;
  font-family: light;
  text-align: center;
  color: #fff;
  margin-top: 13px;
}
@media (max-width: 992px) {
  .about-sec-dec {
    display: none;
    margin-top: 15px;
    font-size: 17px;
  }
}
.about-sec-dec.xs-desc {
  display: none;
}
@media (max-width: 992px) {
  .about-sec-dec.xs-desc {
    display: block;
  }
}

.video-div {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
}
.video-div img {
  width: 100%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.video-div::after {
  content: url("../images/play.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.video-div:hover img {
  transform: scale(1.02);
}
.video-div:hover::after {
  transform: translate(-50%, -50%) scale(0.95);
}

.services-cont {
  margin-top: 93px;
}
@media (max-width: 992px) {
  .services-cont {
    margin-top: 50px;
  }
}

.culture-cont {
  margin-top: 95px;
}
@media (max-width: 992px) {
  .culture-cont {
    margin-top: 50px;
  }
}

.articles-cont {
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
  padding-top: 95px;
  padding-bottom: 100px;
  margin-top: 100px;
}
.articles-cont .article-pat {
  left: 0;
  bottom: 0;
  position: absolute;
}
@media (max-width: 992px) {
  .articles-cont {
    padding: 40px 0;
    margin-top: 50px;
  }
}

.blog-cont {
  background-color: #595959;
  position: relative;
  overflow: hidden;
  padding-top: 95px;
  padding-bottom: 100px;
}
.blog-cont .blog-pat {
  right: 0;
  bottom: 0;
  position: absolute;
}
@media (max-width: 992px) {
  .blog-cont {
    padding: 40px 0;
  }
}

.team-cont {
  margin-top: 100px;
}
@media (max-width: 992px) {
  .team-cont {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .page-cont {
    margin-top: 30px;
  }
}
.page-cont .blog {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .page-cont .blog {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.page-cont .blog .title-cont {
  padding: 0 5px;
}
.page-cont .blog .blog-name {
  color: #333333;
}
.page-cont .blog .blog-name:hover {
  color: #a87d2c;
}

.mo-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .mo-pagination {
    margin-top: 40px;
  }
}
.mo-pagination a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  color: #333333;
  font-size: 16px;
  border: none;
  margin: 0 5px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-pagination a:hover {
  background-color: #a87d2c;
  color: #fff;
}
.mo-pagination a.active-page {
  background-color: #a87d2c;
  color: #fff;
}

footer {
  background-color: #595959;
  padding-bottom: 62px;
  padding-top: 70px;
  margin-top: 100px;
}
@media (max-width: 1199px) {
  footer {
    padding: 40px 0;
    margin-top: 50px;
  }
}

@media (max-width: 1199px) {
  .foot-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.social {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 28px;
}
@media (max-width: 1199px) {
  .social {
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0;
  }
}

.social-link {
  background-color: rgba(0, 0, 0, 0.2);
  width: 47px;
  height: 47px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 50%;
  margin-left: 7px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[lang=en-US] .social-link {
  margin-left: 0;
  margin-right: 7px;
}
.social-link:hover, .social-link:focus {
  background-color: #a87d2c;
  color: #fff;
}
.social-link:last-of-type {
  margin-left: 0;
}
html[lang=en-US] .social-link:last-of-type {
  margin-left: 0;
  margin-right: 7px;
}

.nav-foot {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
@media (max-width: 1199px) {
  .nav-foot {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 1199px) {
  .nav-foot {
    flex-direction: column;
  }
}
.nav-foot > li {
  margin-left: 22px;
}
html[lang=en-US] .nav-foot > li {
  margin-left: 0;
  margin-right: 22px;
}
@media (max-width: 1199px) {
  .nav-foot > li {
    margin-left: 0;
    margin: 4px 0;
  }
  html[lang=en-US] .nav-foot > li {
    margin-right: 0;
    margin: 5px 0;
  }
}
.nav-foot > li:last-of-type {
  margin-left: 0;
}
html[lang=en-US] .nav-foot > li:last-of-type {
  margin-right: 0;
}
.nav-foot > li > a {
  font-size: 16px;
  font-family: med;
  color: #fff;
  text-transform: capitalize;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-foot > li > a:hover, .nav-foot > li > a:focus {
  color: #a87d2c;
}

.copytight {
  display: flex;
  flex-direction: column;
  color: #b2b2b2;
  font-size: 14px;
}
.copytight img {
  margin: 0 5px;
}
.copytight .tasawk {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .copytight .tasawk {
    justify-content: center;
  }
}
@media (max-width: 1199px) {
  .copytight {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    order: 2;
    margin-bottom: 0;
  }
}

.arro_top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 47px;
  z-index: 9;
}
html[lang=en-US] .arro_top {
  right: auto;
  left: 47px;
}
@media (max-width: 992px) {
  .arro_top {
    bottom: 95px;
    right: 15px;
  }
  html[lang=en-US] .arro_top {
    right: auto;
    left: 15px;
  }
}
.arro_top span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333333;
  width: 48px;
  height: 47px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.arro_top span:hover {
  color: #fff;
  background-color: #a87d2c;
  box-shadow: none;
}

.mo-menu-icon {
  display: none;
  font-size: 24px;
  color: #333333;
}
@media (max-width: 992px) {
  .mo-menu-icon {
    display: block;
  }
}

.close-btn {
  font-size: 20px;
  color: #595959;
  position: absolute;
  top: 15px;
  left: 25px;
  display: none;
}
html[lang=en-US] .close-btn {
  right: 25px;
  left: auto;
}
@media (max-width: 992px) {
  .close-btn {
    display: block;
  }
}

@media (max-width: 992px) {
  .sec-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
  }
  .sec-nav .top-nav {
    flex-direction: column;
    width: 280px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 25px;
    right: 0;
    transform-origin: right;
    transform: scaleX(0);
    overflow-y: auto;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  html[lang=en-US] .sec-nav .top-nav {
    transform-origin: left;
    left: 0;
    right: auto;
  }
  .sec-nav .top-nav.nav-in {
    transform: scaleX(1);
  }
  .sec-nav .mo-navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .sec-nav .mo-navbar > li {
    margin: 4px 0;
  }
  .sec-nav .mo-navbar > li > a.active::after {
    display: none;
  }
  .sec-nav .lang {
    position: absolute;
    top: 9px;
    right: 25px;
  }
  html[lang=en-US] .sec-nav .lang {
    right: auto;
    left: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
